<div >
<style>
.mytable { 
	background-color: white;
  border: 0px;
  text-align: center;
  }
.priceTable { 
	background-color: white;
  border: 2px solid black;
  text-align: center;
  }
.priceTable td, .priceTable tr {
  border: 1px dotted black;
}
.myDetail{
	width: 100%;
}
.imgCell{
	width: 50%;
	/*height: 20%;*/
}
.img{
	display: block;
	width: 100%;
	height: auto;
}
.nameCell{
	font: arial;
	font-size: xx-large;
}
</style>
<table class="mytable">
<tbody>
<tr class="myDetail">
<td class="imgCell"><img class="img" src="{=$colorImg=}"/></td>
<td class="nameCell">{=$table=}</td>
</tr>
</tbody>
</table>
</div>

